<tr>
  <td class="page" id="page-13" style="align-items: start">
    <div class="page-content">
      <div class="box-label" style="
          font-size: 28px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          padding: 30px 70px;
          min-width: 500px;
          margin: 0 auto;
          border-radius: 40px;
          text-transform: uppercase;
          font-style: italic;
        ">
        <i class="fa-solid fa-hand-holding-hand"></i>
        <strong style="font-size: 28px">General FAQs </strong>
        <i class="fa-solid fa-hand-holding-hand"></i>
      </div>

      <div class="box white" style="
          border-radius: 80px;
          margin-top: 25px;
          font-size: 18px;
          padding-block: 50px;
          padding-inline: 50px;
        ">
        <strong> What happens after I sign with Luxury Lodging? </strong>
        <p style="padding-left: 25px">
          We’ll onboard your property, optimize listing, and assign a dedicated
          property manager to handle all operations.
        </p>
        <strong> How will you manage the stay restrictions? </strong>
        <p style="padding-left: 25px">
          We’ll market your property to long-term guests, ensuring compliance
          with local regulations.
        </p>
        <strong> How involved do I need to be? </strong>
        <p style="padding-left: 25px">
          You can be hands-off or involved on a request basis. You’ll have
          access to a dashboard for tracking performance.
        </p>
        <strong> How will you market my property? </strong>
        <p style="padding-left: 25px">
          We’ll highlight your property’s features properly, targeted ads, and
          placement on top platforms.
        </p>
        <strong> How is pricing determined? </strong>
        <p style="padding-left: 25px">
          Dynamic pricing adjusts for market trends, seasonality, and in some
          cases, stay restrictions.
        </p>
        <strong> When can I expect results? </strong>
        <p style="padding-left: 25px">
          Dynamic pricing adjusts for market trends, seasonality, and in some
          cases, stay restrictions.
        </p>
        <strong> What support do you offer? </strong>
        <p style="padding-left: 25px">
          You’ll have 24/7 guest support, regular performance updates, and a
          dedicated property manager.
        </p>
        <strong> Can I still use my property? </strong>
        <p style="padding-left: 25px">
          Yes! Simply inform us for us to block dates on the calendar for
          personal use.
        </p>
        <strong> Why choose Luxury Lodging? </strong>
        <p style="padding-left: 25px">
          Our proven strategies, premium service, and topperforming portfolio
          make us the ideal partner for your property.
        </p>
      </div>
    </div>

    <img style="position: absolute; bottom: 0; left: 0" src="<%= LOGO_URL %>" alt="reload page" />
  </td>
</tr>