<tr>
  <td class="page" id="page-1">
    <table>
      <tbody>
        <tr>
          <td>
            <div class="logo">
              <img src="<%= LOGO_URL %>" alt="" />
              <h6 style="color: var(--clr-primary)">
                Property Performance Report (PPR)
              </h6>
            </div>
            <div class="page-1-text" style="padding-block: 50px">
              <h1
                style="
                  color: black;
                  font-family: var(--font-cursive);
                  font-size: 44px;
                  padding-bottom: 8px;
                  margin-bottom: 8px;
                "
              >
                Let's Flamingo - Key West, FL
              </h1>
              <h2
                style="
                  color: var(--clr-primary-dark);
                  font-weight: 600;
                  font-size: 28px;
                "
              >
                <%= listingData.address %>
              </h2>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <img
              style="width: 100%"
              src="<%= PAGE_1_IMAGE %>"
              alt="reload page"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
