<div style="display: inline-block; z-index: 0">
    <div style="position: absolute; bottom: 0; right: 20px">
        <img src="<%= LOGO_URL %>" alt="reload page" width="100" />
        <span style="font-family: 'Playfair Display'; font-size: 1rem;color: var(--clr-primary-dark);">PPR</span>
    </div>
</div>