<tr>
  <td class="page" id="page-9">
    <div class="page-content">
      <div>
        <h1 class="cursive-heading" style="margin-bottom: 20px">
          Top Competitor
        </h1>

        <div class="box white" style="margin-bottom: 15px">
          <img src="<%= PAGE_9_IMG %>" alt="reload page" />
        </div>

        <div class="box">
          <% if (revPar > listingData.totalMarketAvg) { %>
          <p>
            The prospect’s property is well-positioned within the <%=
            listingData.airdnaMarketName %> market, competing with listings that
            feature high-end amenities. While competitors such as the Rustic
            Luxurious A-Frame and Lakefront Sunset Cottage leverage high-end
            amenities and scenic locations, our prospect’s potential lies in
            optimizing its pricing strategy, enhancing listing presentation, and
            highlighting unique features like nearby attractions or exclusive
            guest experiences. Many competitors maintain moderate occupancy
            rates but have opportunities for revenue growth through better ADR
            management and seasonality-driven pricing.
          </p>
          <p>
            To close the gap or maintain a competitive edge, we will focus on
            maximizing RevPAR through dynamic pricing, improving guest
            experience with targeted amenity enhancements, and optimizing the
            listing with high-quality content and strategic marketing.
            Leveraging seasonal trends and length-of-stay adjustments will
            ensure sustained revenue growth while keeping occupancy levels
            stable. Our approach will position the property as a standout choice
            in this market.
          </p>

          <% } else { %>
          <p>
            The prospect’s property is underperforming within the <%=
            listingData.airdnaMarketName %> market, competing with listings that
            feature high-end amenities. Competitors such as the Rustic Luxurious
            A-Frame and Lakefront Sunset Cottage leverage high-end amenities,
            our prospect’s potential lies in optimizing its pricing strategy,
            enhancing listing presentation, and highlighting unique features
            like nearby attractions or exclusive guest experiences. Many
            competitors maintain moderate occupancy rates but have opportunities
            for revenue growth through better ADR management and
            seasonality-driven pricing.
          </p>
          <p>
            To close the gap or maintain a competitive edge, we will focus on
            maximizing RevPAR through dynamic pricing, improving guest
            experience with targeted amenity enhancements, and optimizing the
            listing with high-quality content and strategic marketing.
            Leveraging seasonal trends and length-of-stay adjustments will
            ensure sustained revenue growth while keeping occupancy levels
            stable. Our approach will position the property as a standout choice
            in this market.
          </p>
          <% } %>
        </div>
      </div>

      <img
        style="position: absolute; bottom: 0; right: 0"
        src="<%= LOGO_URL %>"
        alt="reload page"
      />
    </div>
  </td>
</tr>
